.about {
  background: url('../images/content/hero-fon.jpg') center center / cover no-repeat;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: inline-flex;
    justify-content: center;
    max-width: 950px;
  }

  &__left {
    margin-right: 18%;
  }

  &__right {
    flex: 1;
  }
}