
.btn-pointer {
  display: flex;
  justify-content: center;
  align-items: center;

  &__next {
    width: 10px;
    height: 10px;
    fill: #ffffff;
  }

  &__prev {
    width: 10px;
    height: 10px;
    fill: #ffffff;
    transform: rotate(180deg);
  }

  &_none {
    opacity: .3;
  }
}