.btn {
  border-radius: 40px;
  font-family: "Open Sans", Helvetica, sans-serif;
  background-image: linear-gradient(to top, #3157e8, #4d88ee);  
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  padding: 30px 120px;
  align-self: flex-start;

  &:hover {
      background-image: gradient( 0deg, rgb(0,93,255) 0%, rgb(0,119,255) 48%, rgb(0,145,255) 100%);
  }
}
