.close {
  width: 25PX;
  height: 25PX;
  position: absolute;
  top: 67PX;
  right: 40PX;
  display: none;

  @include tablets {
    display: block
  }
  
  @include phones {
    top: 30PX;
  }

  &__icon {
    stroke: #000000;
    stroke-width: 6px;  
  }
}