.comments {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin-bottom: 6%;
    width: 39%;
    @include phones {
      width: initial;
      text-align: center;
    }
  }

  &__content {
    width: 84%;

    @include tablets {
      width: initial;
    }
  }
}