.comments {
  background: url('../images/content/comments-fon.jpg')  center center / cover no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin-bottom: 6%;
    width: 39%;
  }

  &__content {
    width: 67%;
  }
}