.connect {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin-bottom: 4%;
    @include tablets {
      margin-bottom: 5%;
      text-align: center;
    }
  }

  &__content {
    width: 55%;
    @include desktop {
      width: 77%;
    }
    @include tablets {
      width: initial;
    }
  }
}