.hero {
  background: url('../images/content/hero-fon.jpg');
  color: #ffffff;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 110px;
  }

  &__content {
    display: flex;
    justify-content: center;
  }
  &__btn {
    display: flex;
    justify-content: center;
  }
}