.music {
  position: relative;
  
  &__guitar {
    position: relative;
    left: -10px;
    transform: translateY(-30%);
    z-index: 9999;
  }

  &__img-text {
    position: absolute;
    right: 0;
    z-index: 8888;
    top: 60%;
    right: 180px;
    transform: translateY(-50%);
    
  }
}