.music {
  position: relative;
  
  &__guitar {
    position: relative;
    left: -10px;
    transform: translateY(-24%);
    z-index: 9999;
  }

  &__img-text {
    position: absolute;
    right: 0;
    z-index: 8888;
    top: 40%;
    right: 32%;
  }
}