.scroll-down {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  display: inline-flex;

  @include tablets {
    display: none;
  }

  &:hover {
    color: #dc9322;
    .scroll-down__icon {
      fill: #dc9322;
    }
  }

  &__icon {
    display: block;
    fill: #ffffff;
    height: 100%;
  }
  
  &__btn {    
    margin-left: 21px;
    width: 19px;
    height: 30px;
  }
}