  .skill {
    width: 154px;
    height: 154px;
    position: relative;

    &__title {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0.5;  
      text-align: center;
      transform: translate(-50%, -50%);  
    }

    &__circle_top {
      stroke-dasharray: 422;
      stroke-dashoffset: 50;
      ;
    }
  }