.socials {
  &__list {
    display: inline-flex;
    justify-content: flex-end;
  }

  &__item {
    margin-right: 39px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    fill: #534d5e;
    width: 31px;
    height: 25px;
    display: block;

    &:hover {
      fill: #ff9a00;
    }
  }
}