.user {
  display: flex;
  flex-direction: column;

  &__avatar {
    display: flex;
    width: 70%;
    margin-bottom: 65px;
    align-self: flex-end;

    @include tablets {
      align-self: flex-start;
      width: 75%;
    }
    @include phones {
      align-self: center;
      width: 200px;
      justify-content: center;  
    }
  }
}