.user {
  display: flex;
  flex-direction: column;

  &__avatar {
    display: flex;
    width: 70%;
    align-self: flex-end;
    margin-bottom: 65px;
    
    @include tablets {
      align-self: flex-start;
      width: 75%;
    }
    @include phones {
      margin-bottom: 16px;
      align-self: center;
      width: 160px;
      justify-content: center;  
    }
  }
}