.values {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;      
  }

  &__left {
    width: 34%;
    overflow: visible;

    @include tablets {
      display: none;
    }
  }

  &__right {
    flex: 1;
  }
}