script(type='text/x-template')#skills-components
  ul.skills__list
    li.skills__item.skills-row(v-for='category in skills' :key='category.title')
     skills-row(
       :category='category'
     )

script(type='text/x-template')#skills-row
  .skills-row__wrap
    h4.skills-row__title {{category.title}}
    ul.skills-row__list
        li.skills-row__item(v-for='skill in category.skills' :key='skill.id')
          skill(
            :skill='skill'
          )

script(type='text/x-template')#skill
  .skill
    svg.skill__icon(viewBox='0 0 154 154')
      circle.skill__circle(stroke='#e9e9e9' stroke-width='10' fill='transparent' r='67' cx='77' cy='77')         
      circle.skill__circle.skill__circle_top(stroke='url(#skill-gradient)' ref='circle' stroke-width='20' fill='transparent' r='67' cx='77' cy='77' transform= 'rotate(180 77 77)')         
      linearGradient(id="skill-gradient" x1="0%" y1="0%" x2="100%" y2="0")
        stop(offset='0%' stop-color='#243fe5')             
        stop(offset='100%' stop-color='#4d87ee')
    h4.skill__title {{skill.title}}